# =========================
# Unity
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# Visual Studio / Rider / IDE
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.csproj.user
*.pidb
*.booproj
*.svd

# Unity-generated
*.unitypackage
*.apk
*.aab
*.zip



# OS files
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Addressables / cache
[Aa]ssets/AddressableAssetsData/*/*.bin*
[Aa]ssets/AddressableAssetsData/*/*.hash

# Gradle / Android
.gradle/